<div class="row mt-4">
  <div class="col-lg-9">
    <div *ngIf="category">
      <h2 class="m-2">Category: {{category.fullName}}</h2>
    </div>
    <div class="card-group">
      <div class="w-100">
        <div *ngFor="let ebook of page.content" class="card bg-light mb-4">
          <div class="card-header">
            <h5 class="card-title">{{ebook.title}}</h5>
          </div>
          <div class="row m-1 card-body">
            <div class="col-md-4">
              <img [src]="ebook.imageUrl" alt="Card image cap" class="card-img border rounded"
                   style="max-width: 400px">
            </div>
            <div class="col-md-8 d-flex flex-column">
              <ul class="list-unstyled">
                <br>
                <li>Author: <span [innerHTML]="ebook.author"></span></li>
                <li>Publication Year: <span [innerHTML]="ebook.publicationYear"></span></li>
                <li>ISBN: <span [innerHTML]="ebook.isbn"></span></li>
                <li>Pages: <span [innerHTML]="ebook.pages"></span></li>
                <li>Language: <span [innerHTML]="ebook.language"></span></li>
                <li>Format: <span [innerHTML]="ebook.ebookFormat"></span></li>
              </ul>
              <p class="mt-auto">
                <button class="btn btn-primary mt-auto ml-1 float-right"
                        routerLink="/ebooks/{{ebook.shortName}}"
                        type="button">Read more
                </button>
                <button *ngIf="loggedAsAdmin"
                        routerLink="/ebooks/update/{{ebook.shortName}}"
                        class="btn btn-primary mt-auto ml-1 float-right"
                        type="button">Edit
                </button>
                <button (click)="deleteEbook(ebook.id)"
                        *ngIf="loggedAsAdmin"
                        class="btn btn-danger mt-auto ml-1 float-right"
                        type="button">Delete
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-custom-pagination
      (nextPageEvent)="getNextPage()"
      (previousPageEvent)="getPreviousPage()"
      [page]="page">
    </app-custom-pagination>

    <!--    <ngb-pagination [(page)]="page" [collectionSize]="6" aria-label="Default pagination"></ngb-pagination>-->
    <br>
    <br>
    <br>
  </div>
  <div class="col-lg-3">
    <div class="bg bg-light border">
      <!--                <app-search-box></app-search-box>-->
      <app-categories></app-categories>
    </div>
  </div>
</div>
