<div class="mt-4">
  <h1>Add Ebook</h1>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input class="form-control" formControlName="title" id="title" name="title" placeholder="Title"
                 type="text">
        </div>
        <div class="form-group">
          <label for="shortName">Short name</label>
          <input class="form-control" formControlName="shortName" id="shortName" name="shortName"
                 placeholder="Short name"
                 type="text">
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input class="form-control" formControlName="author" id="author" name="author" placeholder="Author"
                 type="text">
        </div>
        <div class="form-group ">
          <label for="imageUrl">Image Url:</label>
          <input class="form-control" formControlName="imageUrl" id="imageUrl" name="imageUrl" placeholder="Image Url"
                 type="text">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="isbn">ISBN number:</label>
            <input class="form-control" formControlName="isbn" id="isbn" name="isbn" placeholder="ISBN number"
                   type="text">
          </div>
          <div class="form-group col-md-6">
            <label for="language">Language:</label>
            <input class="form-control" formControlName="language" id="language" name="language" placeholder="Language"
                   type="text">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="pages">Pages:</label>
            <input class="form-control" formControlName="pages" id="pages" name="pages" placeholder="Pages"
                   type="number">
          </div>
          <div class="form-group col-md-3">
            <label for="year">Publication Year</label>
            <input class="form-control" formControlName="pages" id="year" name="pages" placeholder="Year"
                   type="number">
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-md-2 pt-0">Format</legend>
            <div class="col-md-10">
              <div class="form-check">
                <input checked class="form-check-input" formControlName="ebookFormat" id="inlineRadio1" type="radio"
                       value="pdf">
                <label class="form-check-label" for="inlineRadio1">PDF</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="ebookFormat" id="inlineRadio2" type="radio"
                       value="epub">
                <label class="form-check-label" for="inlineRadio2">epub</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="ebookFormat" id="inlineRadio3" type="radio"
                       value="mobi">
                <label class="form-check-label" for="inlineRadio3">mobi</label>
              </div>
            </div>
          </div>
        </fieldset>
        <br/>
        <button class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>
