<div class="container">
  <div class="row mt-4">
    <div class="col-sm-9">
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-sm-3">
          <div *ngFor="let ebook of ebooks" class="col mb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-sm-4">
                  <img [src]="ebook.imageUrl" alt="..." class="card-img-top">
                </div>
                <div class="col-sm-8">
                  <div class="card-body " style="min-width: 350px;">
                    <h5 class="card-title">{{ebook.title}}</h5>
                    <ul>
                      <li>Author: <span [innerHTML]="ebook.author"></span></li>
                      <li>Publication Year: <span [innerHTML]="ebook.publicationYear"></span></li>
                      <li>Pages: <span [innerHTML]="ebook.pages"></span></li>
                      <li>Language: <span [innerHTML]="ebook.language"></span></li>
                      <li>Format: <span [innerHTML]="ebook.format"></span></li>
                    </ul>
                    <button class="btn btn-primary" routerLink="/{{ebook.id}}" type="button">Read more</button>
                    <button *ngIf="loggedAsAdmin" class="btn btn-primary" routerLink="/update/{{ebook.id}}"
                            type="button">
                      Edit
                    </button>
                    <button (click)="deleteEbook(ebook.id)" *ngIf="loggedAsAdmin" class="btn btn-danger" type="button">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <ngb-pagination [(page)]="page" [collectionSize]="6" aria-label="Default pagination"></ngb-pagination>
    </div>


    <div class="col-sm-3">
      <h4 class="mb-3">
        <span class="text-muted">Categories</span>
      </h4>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6>Product name</h6>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
